[submodule "base16"]
	path = base16
	url = https://github.com/htdvisser/hugo-base16-theme.git
[submodule "themes/base16"]
	path = themes/base16
	url = https://github.com/htdvisser/hugo-base16-theme.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
