.main-content {
  padding-bottom: 50px;
}

footer.footer-min {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 3px;
  background-color: var(--base00);
  border-top: 5px solid var(--base0a);
  text-align: center;
}
