/* --- General --- */
/* Base16 Eighties Colorscheme by Chris Kempson (http://chriskempson.com) */

:root {
  --base00: #2d2d2d;
  --base01: #393939;
  --base02: #515151;
  --base03: #747369;
  --base04: #a09f93;
  --base05: #d3d0c8;
  --base06: #e8e6df;
  --base07: #f2f0ec;
  --base08: #f2777a;
  --base09: #f99157;
  --base0a: #ffcc66;
  --base0b: #99cc99;
  --base0c: #66cccc;
  --base0d: #6699cc;
  --base0e: #cc99cc;
  --base0f: #d27b53;
}

.base00 { color: var(--base00); }
.base01 { color: var(--base01); }
.base02 { color: var(--base02); }
.base03 { color: var(--base03); }
.base04 { color: var(--base04); }
.base05 { color: var(--base05); }
.base06 { color: var(--base06); }
.base07 { color: var(--base07); }
.base08 { color: var(--base08); }
.base09 { color: var(--base09); }
.base0a { color: var(--base0a); }
.base0b { color: var(--base0b); }
.base0c { color: var(--base0c); }
.base0d { color: var(--base0d); }
.base0e { color: var(--base0e); }
.base0f { color: var(--base0f); }

body {
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  color: var(--base05);
  position: relative;
  background: var(--base00);
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.row[role=status] {
  margin-top:100px;
  margin-bottom:100px;
}

.container[role=main] {
  margin-bottom:100px;
  flex: 1 0 auto;
}

.container[role=icons] {
  position: relative;
  display: flex;
  flex-flow: column;
  margin: 1% auto 15%;
}

@media only screen and (max-width: 767px) {
.container[role=main] {
  /* top | right | bottom | left */
  margin: 0 5% 0 5%;
}
}

p {
  line-height: 1.5;
  margin: 6px 0;
}
p + p {
    margin: 24px 0 6px 0;
}
p a {
  color: var(--base08);
}

h1 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  color: var(--base07);
}

h2,h3,h4,h5,h6 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  color: var(--base0a);
}

a {
  color: var(--base05);
}

a:hover {
  color: var(--base0b);
}

a:focus {
  color: var(--base0b);
}

/* font-awesome logos */
a.icon {
  margin-top: 15vw;
  margin-bottom: 15vw;
  text-decoration: none; /* remove stupid underline */
}

a.icon i {
  font-size: 8vw;
  margin-right:5px;
  margin-right:1vw;
  color: var(--base0a);
}

@media only screen and (max-width: 768px) {
a.icon i {
  font-size: 12vw;
}
}


blockquote {
  color: var(--base08);
  font-style: italic;
}

blockquote p:first-child {
  margin-top: 0;
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: inherit;
  border-radius: 3px;
}

.main-content {
  padding-top: 80px;
}
@media only screen and (min-width: 768px) {
  .main-content {
    padding-top: 130px;
  }
}

.main-explain-area {
  font-family: 'Source Code Pro', monospace;
  padding: 15px inherit;
}

.hideme {
  display: none;
}

div.panel-heading {
  background-color: var(--base00);
}

div.panel-heading div.panel-body {
  background-color: var(--base00);
}

div.panel-body,
div.panel-body a.list-group-item {
  font-family: 'Source Code Pro', monospace;
  background-color: var(--base00);
  font-weight: 800;
  border-radius: 0;
  border: none;
}
div.panel-group a.list-group-item {
    align: center;
    max-width: 80vw;
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    border-radius: 5;
    border-radius: 0;
    border: none;
    background: var(--base00);
}
div.panel-group .panel+.panel {
    margin-top: 0;
    background: var(--base00);
}

div.panel-body a.list-group-item.view-all {
  font-weight: 900;
  text-align: right;
}

::-moz-selection {
  color: white;
  text-shadow: none;
  background: var(--base00);
}
::selection {
  color: white;
  text-shadow: none;
  background: var(--base00);
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.img-title {
  width: 100%;
}

.disqus-comments {
  margin-top: 30px;
}

@media only screen and (min-width: 768px) {
  .disqus-comments {
    margin-top: 40px;
  }
}

/* --- Navbar --- */

.navbar-custom {
  font-family: 'Source Code Pro', monospace;
  background: var(--base00);
  border-top: 5px solid var(--base0a);
  border-bottom: 5px solid var(--base0a);
}

.navbar-custom .nav li a {
  text-transform: uppercase;
  background: var(--base00);
  font-size: 18px;
  letter-spacing: 1px;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav li a {
  font-weight: 600;
  color: var(--base05);
  background: var(--base00);
}

.navbar-custom .navbar-brand:hover {
  color: var(--base00);
  background: var(--base0b);
}

.navbar-custom .navbar-brand:focus {
  color: var(--base00);
}

.navbar-custom .nav li a:hover {
  color: var(--base00);
  background-color: var(--base0b);
}

.navbar-custom .nav li a:focus {
  color: var(--base00);
  background: var(--base0b);
}

.navbar-custom .navbar-brand-logo {
  padding-top: 0;
  -webkit-transition: padding .5s ease-in-out;
  -moz-transition: padding .5s ease-in-out;
  transition: padding .5s ease-in-out;
}
.navbar-custom .navbar-brand-logo img {
  height: 50px;
  -webkit-transition: height .5s ease-in-out;
  -moz-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out;
}
.navbar-custom.top-nav-short .navbar-brand-logo {
  padding-top: 5px;
}
.navbar-custom.top-nav-short .navbar-brand-logo img {
  height: 40px;
}

@media only screen and (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .navbar-custom.top-nav-short {
    padding: 0;
  }
}

.navbar-custom .avatar-container {
  opacity: 1;
  position: absolute;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  left: 50%;
  width: 50px;
  margin-top: -25px;
}
.navbar-custom .avatar-container  .avatar-img-border {
  width: 100%;
  border-radius: 50%;
  margin-left: -50%;
  display: inline-block;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.navbar-custom .avatar-container  .avatar-img {
  width: 100%;
  border-radius: 50%;
  display: block;
}

.navbar-custom.top-nav-short .avatar-container{
  opacity: 0;
}

.navbar-custom.top-nav-expanded .avatar-container  {
  display: none;
}

@media only screen and (min-width: 768px) {
  .navbar-custom .avatar-container {
    width: 100px;
    margin-top: -50px;
  }

  .navbar-custom .avatar-container  .avatar-img-border {
    width: 100%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
  }

  .navbar-custom .avatar-container  .avatar-img {
    width: 100%;
  }
}

ul.nav .navbar-nav .navbar-right {
  background: var(--base00);
}

/* Multi-level navigation links */
.navbar-custom .nav .navlinks-container {
  position: relative;
}
.navbar-custom .nav .navlinks-parent:after {
  content: " \25BC";
}
.navbar-custom .nav .navlinks-children {
  width: 100%;
  display: none;
  word-break: break-word;
  border-color: var(--base0a);
}
.navbar-custom .nav .navlinks-container .navlinks-children a {
  display: block;
  padding: 10px;
  padding-left: 30px;
  text-decoration: none !important;
  border-color: var(--base0a);
  border-width: 3px 3px 3px 3px;
  font-weight: normal;
}
@media only screen and (max-width: 767px) {
  .navbar-custom .nav .navlinks-container.show-children {
    border-color: var(--base0a);
  }
  .navbar-custom .nav .navlinks-container.show-children .navlinks-children {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .navbar-custom .nav .navlinks-container {
    text-align: center;
  }
  .navbar-custom .nav .navlinks-container:hover {
    background: var(--base00);
    border-color: var(--base0a);
  }
  .navbar-custom .nav .navlinks-container:hover .navlinks-children {
    display: block;
  }
  .navbar-custom .nav .navlinks-children {
    position: absolute;
  }
  .navbar-custom .nav .navlinks-container .navlinks-children a {
    padding-left: 10px;
    border: 1px solid var(--base0a);
    border-width: 0 1px 1px;
  }
}

/* --- Footer --- */

footer {
  padding: 30px 0;
  margin-top: auto;
  bottom: 0;
  width: 100%;
  border-top: 5px solid var(--base0a);
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
  background: var(--base00);
  border-bottom: 5px solid var(--base0a);
  font-weight: 600;
}

ul .footer-links {
  font-weight: 900;
  color: var(--base08);
}

footer a {
  font-weight: 900;
  color: var(--base08);
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  margin-bottom: 0;
}

footer .theme-by {
  text-align: center;
  margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
  footer {
    padding: 50px 0;
  }
  footer .footer-links {
    font-size: 20px;
  }
  footer .copyright {
    font-size: 20px;
  }
}

/* --- Post preview --- */

.post-preview {
  padding: 20px 0;
  border-bottom: 5px solid var(--base03);
}

@media only screen and (min-width: 768px) {
  .post-preview {
    padding: 35px 0;
  }
}

.post-preview:last-child {
  border-bottom: 0;
}

.post-preview a {
  text-decoration: none;
  color: var(--base0a);
}

.post-preview a:focus,
.post-preview a:hover {
  text-decoration: none;
  color: var(--base08);
}

.post-preview .post-title {
  font-size: 20px;
  margin-top: 0;
}
.post-preview .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}

.post-preview .post-title:hover {
  color: var(--base08);
}
.post-preview .post-subtitle:hover {
  color: var(--base08);
}

.post-preview .post-meta,
.post-heading .post-meta,
.posts-heading .post-meta {
  color: var(--base03);
  font-size: 15px;
  font-style: italic;
  margin: 0 0 10px;
}
.post-preview .post-meta a,
.post-heading .post-meta a,
.posts-heading .post-meta a {
  color: var(--base08);
  text-decoration: none;
}
.post-preview .post-entry {
  font-family: 'Source Code Pro', monospace;
}
.post-entry-container {
  display: inline-block;
  width: 100%;
}
.post-entry {
  width: 100%;
  margin-top: 10px;
}
.post-image {
  float: right;
  height: 192px;
  width: 192px;
  margin-top: -35px;
  filter: grayscale(90%);
}
.post-image:hover {
  filter: grayscale(0%);
}
.post-image img {
  border-radius: 100px;
  height: 192px;
  width: 192px;
}
.post-preview .post-read-more {
  font-weight: 800;
  float: right;
}

@media only screen and (min-width: 768px) {
  .post-preview .post-title {
    font-size: 36px;
  }
}

/* --- Tags --- */

.blog-tags {
  font-family: 'Source Code Pro', monospace;
  color: var(--base03);
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.blog-tags:before {
  font-weight: 900;
  content: "Tags: ";
}

.blog-tags a {
  color: var(--base08);
  text-decoration: none;
  padding: 0px 5px;
}

.blog-tags a:before {
  content: "#";
}

.blog-tags a:hover {
  border-radius: 2px;
  color: var(--base0a);
  background-color: var(--base03);
}

.post-preview .blog-tags {
  margin-top: 5px;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .post-preview .blog-tags {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .post-image, .post-image img {
    height: 100px;
    width: 100px;
  }

  .post-image {
    width: 100%;
    text-align: center;
    margin-top: 0;
    float: left;
  }
}
/* --- Post and page headers --- */

.intro-header {
  margin: 80px 0 20px;
  position: relative;
}
.intro-header.big-img {
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-top: 51px; /* The small navbar is 50px tall + 1px border */
  margin-bottom: 35px;
}
.intro-header.big-img  .big-img-transition {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  transition: opacity 1s linear;
}
.intro-header .page-heading,
.intro-header .post-heading,
.intro-header .posts-heading,
.intro-header .tags-heading {
  text-align: center;
}
.intro-header.big-img .page-heading,
.intro-header.big-img .post-heading,
.intro-header.big-img .posts-heading {
  padding: 100px 0;
  color: var(--base0a);
  text-shadow: 3px 3px 6px #000;
}
.intro-header .page-heading h1,
.intro-header .post-heading h1,
.intro-header .posts-heading h1,
.intro-header .tags-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .page-heading .page-subheading,
.intro-header .post-heading .post-subheading,
.intro-header .posts-heading .posts-subheading {
  font-size: 27px;
  line-height: 1.1;
  display: block;
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
  margin: 10px 0 0;
}
.intro-header .post-heading .post-subheading,
.intro-header .posts-heading .post-subheading {
  margin-bottom: 20px;
}
.intro-header.big-img .page-heading .page-subheading,
.intro-header.big-img .post-heading .post-subheading,
.intro-header.big-img .posts-heading .post-subheading {
  font-weight: 400;
}
.intro-header.big-img .page-heading hr {
  box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  -moz-box-shadow: 1px 1px 3px #000;
}
.intro-header.big-img .post-heading .post-meta,
.intro-header.big-img .posts-heading .post-meta {
  color: #EEE;
}
.intro-header.big-img .img-desc {
  background: rgba(30, 30, 30, 0.6);
  position: absolute;
  padding: 5px 10px;
  font-size: 11px;
  color: #EEE;
  font-family: 'Source Code Pro', monospace;
  right: 0;
  bottom: 0;
  display: none;
}
@media only screen and (min-width: 768px) {
  .intro-header {
    margin-top: 130px;
  }
  .intro-header.big-img {
    margin-top: 91px;  /* Full navbar is small navbar + 20px padding on each side when expanded */
  }
  .intro-header.big-img .page-heading,
  .intro-header.big-img .post-heading,
  .intro-header.big-img .posts-heading  {
    padding: 150px 0;
  }
  .intro-header .page-heading h1,
  .intro-header .post-heading h1,
  .intro-header .posts-heading h1,
  .intro-header .tags-heading h1 {
    font-size: 80px;
  }
  .intro-header.big-img .img-desc {
    font-size: 14px;
  }
}

.header-section.has-img .no-img {
  margin-top: 0;
  background: var(--base05);
  margin: 0 0 40px;
  padding: 20px 0;
  box-shadow: 0 0 10px #AAA;
}
/* Many phones are 320 or 360px, so make sure images are a proper aspect ratio in those cases */
.header-section.has-img .intro-header.no-img {
  display: none;
}
@media only screen and (max-width: 365px) {
  .header-section.has-img .intro-header.no-img {
    display: block;
  }
  .intro-header.big-img {
    width: 100%;
    height: 220px;
  }
  .intro-header.big-img .page-heading,
  .intro-header.big-img .post-heading,
  .intro-header.big-img .posts-heading {
    display: none;
  }
  .header-section.has-img .big-img {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 325px) {
  .intro-header.big-img {
    height: 200px;
  }
}

.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* --- Pager --- */

.pager li a {
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 10px 5px;
  background: var(--base00);
  border-radius: 0;
  color: var(--base05);
}

@media only screen and (min-width: 768px) {
  .pager li a {
    padding: 15px 25px;
  }
}
.pager li a:hover,
.pager li a:focus {
  color: var(--base00);
  background: var(--base0b);
  border: 1px solid var(--base0b);
}

.pager {
  margin: 10px 0 0;
}

.pager.blog-pager {
  margin-top:10px;
}

h4.panel-title > span.badge {
    float: right;
}

@media only screen and (min-width: 768px) {
  .pager.blog-pager  {
    margin-top: 40px;
  }
}

/* --- Tables --- */

table {
  padding: 0;
}

table tr {
  border-top: 3px solid var(--base0a);
  background-color: var(--base00);
  margin: 0;
  padding: 0;
}
table tr:nth-child(2n) {
  color: var(--base05);
  background-color: var(--base00);
}
table tr th {
  font-weight: bold;
  background-color: var(--base00);
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
table tr td {
  border: 3px solid var(--base0a);
  background-color: var(--base00);
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
table tr th :first-child,
table tr td :first-child {
  margin-top: 0;
}
table tr th :last-child,
table tr td :last-child {
  margin-bottom: 0;
}

/* --- Social media sharing section --- */

#social-share-section {
  margin-bottom: 30px;
}

/* --- Google Custom Search Engine Popup --- */
#modalSearch table tr, #modalSearch table tr td, #modalSearch table tr th {
  border:none;
}
.reset-box-sizing, .reset-box-sizing *, .reset-box-sizing *:before, .reset-box-sizing *:after,  .gsc-inline-block {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button {
  box-sizing: content-box;
  line-height: normal;
}

/* IPython split style */
div.splitbox {width:100%; overflow:auto;}

div.splitbox div.left {
               width:48%;
               float:left;}
div.splitbox div.right {
               width:48%;
               float:right;}

@media only screen and (max-width: 600px) {
div.splitbox div.left {
               width:100%;
               float:left;}
div.splitbox div.right {
               width:100%;
               float:left;}
}

/* Delayed Disqus */
.disqus-comments button {
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 10px 5px;
  background: var(--base00);
  border-radius: 0;
  color: var(--base05);
}
@media only screen and (min-width: 768px) {
  .disqus-comments button {
    padding: 15px 25px;
  }
}
.disqus-comments button:hover,
.disqus-comments button:focus {
  color: var(--base00);
  background: var(--base0b);
  border: 1px solid var(--base0b);
}

/* Related posts */
h4.see-also {
  margin-top: 20px;
}

/* Sharing */
 ul.share {
  color: var(--base05);
  background: var(--base00);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
 ul.share li {
  color: var(--base0a);
  background: var(--base00);
  display: inline-flex;
  margin-right: 5px;
}
 ul.share li:last-of-type {
  margin-right: 0;
}
 ul.share li .fab {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  transition: all 150ms ease-in-out;
  color: var(--base05);
  background: var(--base00);
}
 ul.share li a {
  color: var(--base0a);
  background-color: var(--base00);
  display: block;
  border-radius: 50%;
  text-decoration: none !important;
  margin: 0;
}
 ul.share li:hover .fab {
  color: var(--base0a);
  transform: scale(1.4)
}

 ul.header-icons li a {
  color: var(--base0a);
}

 ul.header-icons li:hover {
  text-decoration: none;
  color: var(--base08);
  transform: scale(1.1)
}

/* Pygments template by Jan T. Sott (https://github.com/idleberg) */


pre.chroma {
  background: var(--base00);
  color: var(--base07);
  border: 1px solid var(--base07);
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;
  margin: 15px 0 0 15px;
}

.chroma { color: var(--base05); background-color: var(--base00); } /* Background */
.chroma .hll { background-color: var(--base00); }
.chroma .err { color: #960050; } /* Error */
.chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; } /* LineTableTD */
.chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; } /* LineTable */
.chroma .hl { display: block; width: 100%;background-color: var(--base00); } /* LineHighlight */
.chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: var(--base03); } /* LineNumbersTable */
.chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: var(--base03); } /* LineNumbers */
.chroma .k { color: var(--base0e) } /* Keyword */
.chroma .kc { color: var(--base0e) } /* KeywordConstant */
.chroma .kd { color: var(--base0e) } /* KeywordDeclaration */
.chroma .kn { color: var(--base0c) } /* KeywordNamespace */
.chroma .kp { color: var(--base0e) } /* KeywordPseudo */
.chroma .kr { color: var(--base0e) } /* KeywordReserved */
.chroma .kt { color: var(--base0e) } /* KeywordType */
.chroma .na { color: var(--base0c) } /* NameAttribute */
.chroma .nc { color: var(--base0c) } /* NameClass */
.chroma .no { color: var(--base0e) } /* NameConstant */
.chroma .nd { color: var(--base0c) } /* NameDecorator */
.chroma .ne { color: var(--base0c) } /* NameException */
.chroma .nf { color: var(--base0c) } /* NameFunction */
.chroma .nx { color: var(--base0c) } /* NameOther */
.chroma .nt { color: var(--base0c) } /* NameTag */
.chroma .l { color: var(--base09) } /* Literal */
.chroma .ld { color: var(--base0e) } /* LiteralDate */
.chroma .s { color: var(--base0e) } /* LiteralString */
.chroma .sa { color: var(--base0e) } /* LiteralStringAffix */
.chroma .sb { color: var(--base0e) } /* LiteralStringBacktick */
.chroma .sc { color: var(--base07) } /* LiteralStringChar */
.chroma .dl { color: var(--base0e) } /* LiteralStringDelimiter */
.chroma .sd { color: var(--base0e) } /* LiteralStringDoc */
.chroma .s2 { color: var(--base0e) } /* LiteralStringDouble */
.chroma .se { color: var(--base09) } /* LiteralStringEscape */
.chroma .sh { color: var(--base0e) } /* LiteralStringHeredoc */
.chroma .si { color: var(--base0e) } /* LiteralStringInterpol */
